@using SchoolBusinessLogic.ViewModels.TeacherModels
@model List<MaterialViewModel>
@{
    ViewData["Title"] = "MaterialList";
}
<div class="text-center">
    <h1 class="display-4">Materials</h1>
</div>
<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Log in</h3>
            return;
        }
        <p>
            <a asp-action="Create">Create material</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Material Id
                    </th>
                    <th>
                        Material name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Date create
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreate)
                        </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@(item.Id)">Update</a>
                            <a asp-action="Delete" asp-route-materialId="@(item.Id)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>